body {
    font-family: 'Roboto', sans-serif;
    background: white;
}

*{
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

.navbar-header {
    text-decoration: none;
    margin-right: 30px;
    margin-left: 20px;
    font-size: 30px;
    color: black;
}

.navbar-header img {
    width: 18%;
    margin-right: 10px;
}

.navbar-header img:hover {
    -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}
.navbar-logo {
    padding: 15px;
}

.navbar-mainbg {
    padding-right: 20px;
    font-size: 18px;
}

.nav-link{
    color:rgb(30, 30, 30);
}