.products {
    margin: 100px;
    display: grid; 
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
  }
  
  .product-card{
    margin-bottom: 70px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.197);
  }
  
  .product-card img{
    padding: 10px;
    border-radius: 15px;
  }
  
  .search-bar {
   padding-top: 100px;
   padding-right: 100px;
   padding-left: 110px;
   
   } 
  
  .search-bar input {
    width: 250px;
  }
  
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width:601px) and (max-width:767px){
    .products {
      margin: 100px;
      display: grid; 
      justify-content: center;
      justify-items: center;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-gap: 20px;
    }
  }